@page "/Lists/Requests"
@using AntDesign
@using TMA_Warehouse.Shared.DTOs
@inherits OrderBase


@if (Orders == null)
{
    <h3>Loading Items...</h3>
}
else
{
    <h3 class="mb-5">Items</h3>

    <input type="text" @oninput="@((value) => SearchForItems(value.Value.ToString()))" placeholder="Search by name..." class="form-control mb-3" />


    if (Orders.Count() > 0)
    {

        <Table TItem="OrderDTO" DataSource="@Orders">
            <PropertyColumn Property="c=>c.EmployeeName" Title="Name" Sortable Filterable></PropertyColumn>
            <PropertyColumn Property="c=>c.Comment" Title="Comment" Sortable Filterable></PropertyColumn>
            <PropertyColumn Property="c=>GetTotalPrice(c)" Title="Total Price" Sortable Filterable></PropertyColumn>
            <PropertyColumn Property="c=>c.Status" Title="Status" Sortable Filterable></PropertyColumn>
            <ActionColumn Title="Action">
                <Space Size=@("middle")>
                    <SpaceItem>
                        <Button Type="@ButtonType.Primary" OnClick="()=>OrderDetailsButtonAction(context)">Details</Button>
                    </SpaceItem>
                    @if(context.Status == "New")
                    {
                        <SpaceItem>
                            <Button Type="@ButtonType.Primary" OnClick="()=>ConfirmOrderButtonAction(context)">Confirm</Button>
                        </SpaceItem>
                        <SpaceItem>
                            <Button Danger OnClick="()=>RejectOrderButtonAction(context)">Reject</Button>
                        </SpaceItem>
                    }
                </Space>
            </ActionColumn>

        </Table>
    }
}
